body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f8f8;
}

.header {
  display: flex;
  padding: 15px 30px;
  background: white;
  align-items: center;
  gap: 20px;
}

.logo {
  color: rgb(25, 51, 59);
  font-size: 26px;
  font-weight: bold;
}

.header input {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.tabs {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
  background: white;
}

.tabs button {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.tabs .active {
  color:rgb(25, 51, 59) ;
  border-bottom: 3px solid rgb(25, 51, 59);
  padding-bottom: 5px;
}

.section {
  padding: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
}

.card p {
  margin: 0 10px 10px;
  color: #555;
}

.card span {
  margin: 10px;
  display: inline-block;
  color: green;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background: white;
  margin-top: 30px;
}